@model MyLand.Models.Listing

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListingId" />
            <div class="form-group">
                <label asp-for="ListingType" class="control-label"></label>
                <input asp-for="ListingType" class="form-control" />
                <span asp-validation-for="ListingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingTitle" class="control-label"></label>
                <input asp-for="ListingTitle" class="form-control" />
                <span asp-validation-for="ListingTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingDescription" class="control-label"></label>
                <input asp-for="ListingDescription" class="form-control" />
                <span asp-validation-for="ListingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingPrice" class="control-label"></label>
                <input asp-for="ListingPrice" class="form-control" />
                <span asp-validation-for="ListingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingSize" class="control-label"></label>
                <input asp-for="ListingSize" class="form-control" />
                <span asp-validation-for="ListingSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingPhoto" class="control-label"></label>
                <input asp-for="ListingPhoto" class="form-control" />
                <span asp-validation-for="ListingPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingDate" class="control-label"></label>
                <input asp-for="ListingDate" class="form-control" />
                <span asp-validation-for="ListingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
